[Unit]
Description=Restic Backup
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/docker/config
ExecStart=/usr/bin/docker compose up -d backup
ExecStop=/usr/bin/docker compose stop backup
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target