[Unit]
Description=Postgres
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/docker/config
ExecStart=/usr/bin/docker compose up -d postgres
ExecStop=/usr/bin/docker compose down postgres
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
