[Unit]
Description=nginx-private
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/docker/config
ExecStart=/usr/bin/docker compose up -d nginx-private
ExecStop=/usr/bin/docker compose down nginx-private
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target