[Unit]
Description=VNC
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/docker/config
ExecStart=/usr/bin/docker compose up -d vnc
ExecStop=/usr/bin/docker compose down vnc
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
