[Unit]
Description=Byparr
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/willflix/docker
ExecStart=/usr/bin/docker compose up -d byparr
ExecStop=/usr/bin/docker compose stop byparr
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target