[Unit]
Description=Calibre
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/docker/config
ExecStart=/usr/bin/docker compose up -d calibre-web-automated
ExecStop=/usr/bin/docker compose down calibre-web-automated
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
