[Unit]
Description=Health Data Server
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/willflix/docker
ExecStart=/usr/bin/docker compose up -d health-server
ExecStop=/usr/bin/docker compose down health-server
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
