[Unit]
Description=Nzbget
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/docker/config
ExecStart=/usr/bin/docker compose up -d nzbget
ExecStop=/usr/bin/docker compose down nzbget
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
