[Unit]
Description=SMTP Relay
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/willflix/docker
ExecStart=/usr/bin/docker compose up -d smtp-relay
ExecStop=/usr/bin/docker compose stop smtp-relay
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target